<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-gray sidebar sidebar-light accordion toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">

            <img src="~/images/codewithmukesh_logo.jpg"
                 alt="AdminLTE Logo"
                 class="sidebar-brand-icon img-circle shadow"
                 style="opacity: .8;height:45px;border-radius:50px">
            <div class="sidebar-brand-text mx-3">Clean Architecture</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li is-active-page class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>
        @if (User.IsInRole("SuperAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Admin</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Admin Settings</h6>
                        <a class="collapse-item" asp-area="Admin" asp-page="/Users">Users</a>
                        <a class="collapse-item" href="cards.html">Roles</a>
                    </div>
                </div>
            </li>
        }
        <li is-active-page class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Settings</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Manage Settings</h6>
                    <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account Settings</a>
                </div>
            </div>
        </li>       
    </ul>
